body {

    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3e5d3;
    text-align: center;

}


.app {

    padding: 25px;

}


h1 {

    font-size: 55px;
    color: #4b2e1e;

}


h2 {

    font-size: 35px;
    color: #4b2e1e;

}


p {

    font-size: 20px;
    color: #5c4033;

}


input {

    width: 80%;
    padding: 16px;

    border-radius: 20px;

    border: none;

    font-size: 18px;

    margin: 20px;

}



button {

    width: 85%;

    padding: 20px;

    margin: 12px;

    border: none;

    border-radius: 25px;

    font-size: 22px;

    background: #6f4e37;

    color: white;

}



button:hover {

    transform: scale(1.03);

}



.category {

    height: 120px;

    background: white;

    color: #4b2e1e;

}



.product {

    background: white;

    color: #4b2e1e;

}



.cartItem {

    background: white;

    padding: 20px;

    margin: 15px;

    border-radius: 20px;

    font-size: 22px;

    box-shadow: 0 5px 12px rgba(0,0,0,0.15);

}



/* BOTONES DE CANTIDAD */

.quantityButton {

    width: 55px;

    height: 55px;

    padding: 0;

    margin: 8px;

    border-radius: 50%;

    font-size: 30px;

    font-weight: bold;

}



.minus {

    background: #d9b08c;

    color: #4b2e1e;

}



.plus {

    background: #4b2e1e;

    color: white;

}



.quantityNumber {

    font-size: 30px;

    font-weight: bold;

    color: #4b2e1e;

}



/* BOTON ELIMINAR */

.removeButton {

    background: #9b2226;

    color: white;

}



/* TOTAL */

#totalItems {

    font-size: 25px;

    color: #4b2e1e;

}



/* CONFIRMACION */

#confirmationScreen h1 {

    color: #4b2e1e;

}


#confirmationScreen p {

    font-size: 22px;

}
.smallButton {

    background: red !important;

    color: white !important;

    width: 60px;

    height: 60px;

    font-size: 30px;

}


.removeButton {

    background: black !important;

    color: white !important;

}
